/*==================== HEAD ====================*/
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.head-img,
.head-data {
  text-align: center;
  position: absolute;
  z-index: var(--z-back);
}
.head-img {
  transform: translateY(-15%);
  width: 150vh;
  height: 150vh;
}

.head-title {
  font-size: var(--big-size);
  font-weight: var(--font-bold);
  color: var(--primary-color);
  letter-spacing: 2rem;
  opacity: 0.5;
}
.head-subtitle {
  text-align: left;
  color: var(--text-color);
  font-size: var(--medium-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: 1rem;
  transform: translateY(-2rem);
}

.head-mess {
  font-size: var(--small-size);
  font-weight: var(--font-normal);
  color: var(--white-color);
}
.cursor {
  color: var(--white-color);
}
/*==================== HEAD ====================*/

/*==================== SLIDER ====================*/
.home-slide {
  width: 100%;
  height: 50vh;
}
.slide-title {
  display: flex;
  align-items: center;
  font-size: var(--small-size);
  color: var(--primary-color);
}
.slide-title i {
  margin-left: 0.5rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev i,
.swiper-button-next i {
  font-size: var(--big-size);
  color: var(--subtitle-color);
  transition: 0.5s ease-in-out;
}
.swiper-button-prev i:hover,
.swiper-button-next i:hover {
  color: var(--primary-color);
}
/*==================== SLIDER ====================*/

/*==================== GOSHOP ====================*/
.goshop {
  background-color: var(--body-color);
}
.goshop-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}
.goshop-data {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.goshop-card {
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--title-color);
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--subtitle-color);
  box-shadow: 0 0 20px var(--subtitle-color);
}
.goshop-card div {
  font-size: var(--smaller-size);
  font-weight: var(--font-small);
}
.goshop-card span {
  font-size: var(--smallest-size);
  font-weight: var(--font-medium);
}
.goshop-card i {
  font-size: var(--medium-size);
  color: var(--primary-color);
  margin-right: 1rem;
}

.goshop-card-1,
.goshop-card-4 {
  transform: translateX(4rem);
}
.goshop img {
  width: 400px;
  height: 400px;
  filter: drop-shadow(1px 1px 10px var(--dark-color));
  -ms-filter: drop-shadow(1px 1px 10px var(--dark-color));
}
/*==================== GOSHOP ====================*/

/*==================== SLOGANS ====================*/
.slogans {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}
.slogans-container {
  padding: 2rem 4rem;
}
.slogans-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.slogans-img {
  position: relative;
  width: 275px;
}

.slogans-img img {
  filter: drop-shadow(10px 10px 10px #2d2d2d);
}
.slogans-img img:nth-child(1) {
  filter: none;
}

.slogans-back-left,
.slogans-back-right {
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 250px;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.slogans-back-left {
  left: 0;
  border-top-left-radius: 2rem;
  border-top-right-radius: 10rem;
  background-color: var(--subtitle-color);
}
.slogans-back-right {
  right: 0;
  border-top-left-radius: 10rem;
  border-top-right-radius: 2rem;
  background-color: var(--text-color);
}
.slogans-mess {
  width: 50%;
  font-size: var(--medium-size);
  font-weight: var(--font-bold);
  background: linear-gradient(var(--title-color), var(--subtitle-color));
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.slogans-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-image: url("../images/design/design\ \(11\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-mess {
  font-size: calc(var(--big-size) + 5rem);
  font-weight: var(--font-bold);
  opacity: 0.5;
  color: var(--body-color);
}
/*==================== SLOGANS ====================*/

/*==================== @MEDIAQUERY - @MAXWIDTH:767 ====================*/
@media screen and (max-width: 767px) {
  /*==================== HEAD ====================*/
  .head-img {
    transform: translateY(-15%);
    width: 110vh;
    height: 110vh;
  }
  .head-subtitle {
    text-align: center;
    transform: translateY(-1rem);
  }
  /*==================== HEAD ====================*/

  /*==================== GOSHOP ====================*/
  .goshop-container {
    column-gap: 1.5rem;
  }

  .goshop-data {
    row-gap: 1rem;
  }

  .goshop-card {
    padding: 0.5rem 0.25rem;
  }

  .goshop img {
    width: 300px;
    height: 300px;
  }
  /*==================== GOSHOP ====================*/

  /*==================== SLOGANS ====================*/
  .slogans-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .slogans-img {
    width: 200px;
  }
  .slogans-back-left,
  .slogans-back-right {
    width: 150px;
    height: 200px;
  }
  .slogans-mess {
    font-size: var(--small-size);
  }

  .bottom-mess {
    font-size: calc(var(--big-size) + 2rem);
  }
  /*==================== SLOGANS ====================*/
}
/*==================== @MEDIAQUERY - @MAXWIDTH:767 ====================*/

/*==================== @MEDIAQUERY - @MAXWIDTH:467 ====================*/
@media screen and (max-width: 467px) {
  /*==================== HEAD ====================*/
  .head-img {
    transform: translateY(-20%);
    width: 50vh;
    height: 50vh;
  }
  .head-title {
    letter-spacing: 1rem;
  }
  .head-subtitle {
    transform: translateY(-0.25rem);
  }
  .head-mess {
    font-size: var(--small-size);
    color: var(--white-color);
  }
  /*==================== HEAD ====================*/

  /*==================== SLIDER ====================*/
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  /*==================== SLIDER ====================*/

  /*==================== GOSHOP ===========2========*/
  .goshop-card {
    width: 150px;
    padding: 1rem 0.5rem;
  }
  .goshop-card i {
    margin-right: 1rem;
  }

  .goshop-card-1,
  .goshop-card-4 {
    transform: translateX(2rem);
  }

  .goshop img {
    width: 300px;
    height: 300px;
  }
  /*==================== GOSHOP ====================*/

  /*==================== SLOGANS ====================*/
  .slogans-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .slogans-container .slogans-content:nth-child(5),
  .slogans-container .slogans-content:nth-child(6),
  .slogans-container .slogans-content:nth-child(7),
  .slogans-mess {
    display: none;
  }

  .slogans-img {
    width: 200px;
  }
  .slogans-back-left,
  .slogans-back-right {
    width: 150px;
    height: 200px;
  }

  .bottom-mess {
    font-size: calc(var(--big-size) + 1rem);
  }
  /*==================== SLOGANS ====================*/
}
/*==================== @MEDIAQUERY - @MAXWIDTH:467 ====================*/
