@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  background: #ededfc;
}

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6464e8;
  opacity: 1;
}

@keyframes title {
  0% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 1;
    top: 42%;
  }
}

@keyframes progress {
  0% {
    width: 0px;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@keyframes opacity {
  0%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes heightAnim {
  0% {
    height: 100vh;
  }
  20%,
  100% {
    height: 0;
  }
}

.bar {
  pointer-events: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background: #1b1b1b;
  opacity: 0;
}

.bar-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  z-index: 2000;
  display: block;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: grey;
}

#preloader {
  width: 100%;
  height: 100vh;
  background: #101010;
  overflow: hidden;
  position: fixed;
}

.p {
  font-size: 2rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
}
