/*==================== POPUP ====================*/
@keyframes showPop {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(120%);
  }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
}
.alert {
  display: none;
  position: absolute;
  min-width: 350px;
  padding: 15px 35px;
  top: 1rem;
  right: 1rem;
  border-radius: 0.25rem;
  border-left: 0.25rem solid var(--error-color);
  background-color: var(--error-bg-color);
  color: var(--error-color);
  font-size: var(--tiny-size);
  font-weight: var(--font-normal);
  z-index: var(--z-fixed);
}
.popup-mess {
  padding: 0 1rem;
}
.error-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--normal-size);
  color: var(--error-color);
}
.popup-close {
  position: absolute;
  cursor: pointer;
  font-size: var(--small-size);
  padding: 10px 5px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--error-bg-color);
  background-color: var(--error-color);
}
.show-pop {
  display: block;
  animation: 0.5s showPop linear;
}
/*==================== POPUP ====================*/

/*==================== NAVBAR ====================*/
.nav-toggle,
.nav-close {
  display: none;
  font-size: var(--medium-size);
  color: var(--dark-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.nav-toggle:hover,
.nav-close:hover {
  color: var(--primary-color);
}

.header {
  position: fixed;
  width: 100%;
  height: var(--header-nav);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: transparent;
  padding: 1rem 2rem;
  transition: 0.3s ease-in-out;
}
.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.is-scroll {
  background-color: var(--body-color);
  box-shadow: var(--box-shadow);
}

.nav-logo {
  font-size: var(--logo-size-h);
  font-weight: var(--font-bold);
  color: var(--white-color);
  text-shadow: var(--text-shadow);
}
.nav-logo span {
  color: var(--primary-color);
}

.nav-list {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}
.nav-link {
  font-size: var(--small-size);
  font-weight: var(--font-medium);
  color: var(--white-color);
  text-shadow: var(--text-shadow);
  transition: 0.3s ease-in-out;
}
.nav-link:hover {
  color: var(--primary-color);
}
.is-active {
  color: var(--primary-color);
}
.nav-profile {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 2rem;
}
.nav-profile i {
  font-size: var(--normal-size);
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.nav-profile i:hover {
  color: var(--secondary-color);
}
#nav-authen.user-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
}

.signout {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: var(--medium-size);
}
/*==================== NAVBAR ====================*/

/*==================== SCROLLBAR ====================*/
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--subtitle-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--title-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}
/*==================== SCROLLBAR ====================*/

/*==================== FOOTER ====================*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  overflow-x: hidden;
}
.footer-container {
  padding: 1rem 2.5rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 25% 75%;
}
.footer-logo {
  font-size: var(--logo-size-f);
  font-weight: var(--font-bold);
  color: var(--white-color);
  text-shadow: var(--text-shadow);
}
.footer-logo span {
  color: var(--primary-color);
}

.footer-content {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  padding: 3rem 1rem;
}

.footer-title {
  font-size: var(--smallest-size);
  font-weight: var(--font-normal);
  color: var(--title-color);
}

.footer-list {
  display: flex;
  flex-direction: column;
}
.footer-link,
.footer-copyright {
  font-size: var(--smallest-size);
  font-weight: var(--font-medium);
  color: var(--subtitle-color);
  transition: 0.1s ease-in-out;
}
.footer-link i {
  margin-right: 0.5rem;
}
.footer-link:hover,
.footer-copyright:hover {
  color: var(--primary-color);
}

.footer-copyright {
  cursor: pointer;
  text-align: center;
  font-size: var(--tiny-size);
  color: var(--subtitle-color);
}
/*==================== FOOTER ====================*/

/*==================== @MEDIAQUERY - @MAXWIDTH:767 ====================*/
@media screen and (max-width: 767px) {
  :root {
    --logo-size: 2.25rem;
    --logo-size-h: 2.5rem;
    --logo-size-f: 1.5rem;

    --big-size: 3.5rem;
    --medium-size: 1.5rem;
    --normal-size: 1.25rem;
    --small-size: 1rem;
    --smaller-size: 0.85rem;
    --smallest-size: 0.7rem;
    --tiny-size: 0.65rem;
  }

  /*==================== NAVBAR ====================*/
  @keyframes showToggle {
    0% {
      display: none;
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      display: block;
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes hiddenToggle {
    0% {
      display: block;
    }
    100% {
      display: none;
    }
  }

  .nav-toggle {
    display: block;
  }

  .show-toggle {
    display: block;
    transform: translateX(0);
    opacity: 1;
    animation: 0.5s showToggle linear;
  }
  .hidden-toggle {
    display: none;
    animation: 0.5s hiddenToggle linear;
  }

  .nav-list {
    position: absolute;
    width: 100%;
    height: 90vh;
    top: var(--header-nav);
    right: -100%;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 2rem;
    background-color: var(--body-color);
    transition: 0.5s ease-in-out;
  }
  /*==================== NAVBAR ====================*/

  /*==================== FOOTER ====================*/
  .footer-container {
    padding: 1rem 2.5rem;
    grid-template-columns: 15% 85%;
  }
  .footer-content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /*==================== FOOTER ====================*/

  .section {
    min-height: 80vh;
    padding: 1rem 2rem;
  }
}
/*==================== @MEDIAQUERY - @MAXWIDTH:767 ====================*/

/*==================== @MEDIAQUERY - @MAXWIDTH:467 ====================*/
@media screen and (max-width: 467px) {
  :root {
    --logo-size: 1.75rem;
    --logo-size-h: 2rem;
    --logo-size-f: 1.25rem;

    --big-size: 2.5rem;
    --medium-size: 1.25rem;
    --normal-size: 1rem;
    --small-size: 0.9rem;
    --smaller-size: 0.8rem;
    --smallest-size: 0.65rem;
    --tiny-size: 0.6rem;
  }

  .section {
    min-height: 40vh;
    padding: 0.5rem 1.5rem;
  }

  .section-subtitle {
    background: linear-gradient(var(--secondary-color), var(--subtitle-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  /*==================== FOOTER ====================*/
  .footer-container {
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*==================== FOOTER ====================*/
}
/*==================== @MEDIAQUERY - @MAXWIDTH:467 ====================*/
