/* ==================== PRODUCTS ====================*/
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
  overflow: hidden;
}
.products-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 5rem;
  width: 100%;
  height: auto;
  padding-top: 3rem;
}
.products-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 2rem;
}

.products-filter {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  align-items: flex-start;
  width: 20%;
}

.products-search {
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--subtitle-color);
  margin-bottom: 1rem;
}
.filter-search {
  color: var(--dark-color);
}

.filter-btn {
  font-size: var(--small-size);
  font-weight: var(--font-normal);
  padding: 0.25rem 0.75rem;
}
.filter-btn.active {
  color: var(--title-color);
  background-color: var(--text-color);
  border-radius: 0.5rem;
}

.products-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
  padding: 0.75rem 1rem;
  transition: 0.3s ease-in-out;
}
.products-cards:hover {
  border-radius: 0.5rem;
  box-shadow: 0 0 10px var(--subtitle-color);
}

.products-img {
  width: 150px;
  height: 150px;
  filter: drop-shadow(5px 5px 0 var(--text-color));
  transition: 0.3s ease-in-out;
}

.products-name {
  font-size: var(--smaller-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.products-price {
  font-size: var(--tiny-size);
  font-weight: var(--font-normal);
  color: var(--subtitle-color);
}

.products-btn {
  position: relative;
  padding: 0.25rem;
  width: 125px;
  height: 30px;
  border-radius: 0.25rem;
  background-color: var(--secondary-color);
  outline: none;
  cursor: pointer;
  color: #fff;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.products-btn:hover {
  background-color: var(--primary-color);
}
.products-btn:active {
  transform: scale(0.9);
}

.products-btn .uil-shopping-cart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: var(--medium-size);
  transform: translate(-50%, -50%);
}
.products-btn .uil-box {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 52%;
  font-size: var(--tiny-size);
  transform: translate(-50%, -50%);
}
.products-btn span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  font-size: var(--tiny-size);
  color: #fff;
  transform: translate(-50%, -50%);
}
.products-btn span.add-to-cart {
  opacity: 1;
}
.products-btn span.added {
  opacity: 0;
}

.products-btn.clicked .uil-shopping-cart {
  animation: cart 1.5s ease-in-out forwards;
}
.products-btn.clicked .uil-box {
  animation: box 1.5s ease-in-out forwards;
}
.products-btn.clicked span.add-to-cart {
  animation: txt1 1.5s ease-in-out forwards;
}
.products-btn.clicked span.added {
  animation: txt2 1.5s ease-in-out forwards;
}
@keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes box {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 40%;
    left: 52%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}
@keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}
@keyframes txt2 {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*==================== PRODUCTS ====================*/

/*==================== @MEDIAQUERY - @MAXWIDTH:767 ====================*/
@media screen and (max-width: 767px) {
  .products {
    padding: 2rem 2rem;
  }
  .products-content {
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;
  }
}
/*==================== @MEDIAQUERY - @MAXWIDTH:767 ====================*/

/*==================== @MEDIAQUERY - @MAXWIDTH:467 ====================*/
@media screen and (max-width: 467px) {
  .products {
    padding: 0.5rem 2rem;
  }
  .products-container {
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
  }
  .products-subtitle {
    font-size: calc(var(--medium-size) + 0.5rem);
  }
  .products-filter {
    justify-content: center;
    flex-direction: row;
    column-gap: 0.25rem;
  }
  .products-btn {
    width: 100px;
  }
}
/*==================== @MEDIAQUERY - @MAXWIDTH:467 ==================== */
