/*==================== PRODUCTS ====================*/
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
  overflow: hidden;
}
.products-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 100%;
  height: auto;
  padding-top: 3rem;
}
.products-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 2rem;
}

.products-filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 4rem;
}
.filter-btn {
  cursor: pointer;
  color: var(--dark-color);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  transition: 0.3s ease-in-out;
}
.filter-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.filter-active {
  background-color: rgba(0, 0, 0, 0.2);
}

.products-cards {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--text-color);
  box-shadow: 0 0 10px var(--subtitle-color);
  padding: 0.5rem 0.75rem;
  transition: 0.3s ease-in-out;
}
.products-cards:hover {
  box-shadow: 0 0 10px var(--text-color);
}

.products-img {
  width: 100px;
  height: 100px;
  filter: drop-shadow(-1px 1px 1px var(--white-color));
  transition: 0.3s ease-in-out;
}
.products-cards:hover .products-img {
  transform: scale(1.2) translateY(-2rem);
}

.products-data {
  margin-top: 2rem;
}
.products-name {
  font-size: var(--small-size);
  font-weight: var(--font-bold);
  color: var(--title-color);
}
.products-price {
  font-size: var(--smallest-size);
  font-weight: var(--font-normal);
  color: var(--subtitle-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: var(--small-size);
  transition: 0.3s ease-in-out;
}
.products-icon:hover {
  color: var(--primary-color);
}
/*==================== PRODUCTS ====================*/

/*==================== @MEDIAQUERY - @MAXWIDTH:767 ====================*/
@media screen and (max-width: 767px) {
  .products-content {
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;
  }  
}
/*==================== @MEDIAQUERY - @MAXWIDTH:767 ====================*/
